FYP_Project/Saved/Logs/FYP_Project.log
FYP_Project/Saved/AutoScreenshot.png
FYP_Project/Saved/Config/CrashReportClient/UECC-Windows-69F7102E4D6C3932714CE3ADE25B9103/CrashReportClient.ini
FYP_Project/Intermediate/CachedAssetRegistry.bin
*.log
